<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号注册</title>
</head>
<body>
<center>
    <form action="/insertUsers" method="get">
        <table border="1px" cellspacing="0px" cellpadding="5px" width="240">
            <tr>
                <td>帐号:</td>
                <td><input name="username" type="text"/></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input name="password" type="password"/></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><input type="submit" value="确定"/></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>